table {
    border-collapse:collapse;
    width:90%;
    }
   th, td {
    border:1px solid gray;
    width:20%;
    padding: 10px;
    }
   td {
    text-align:center; 
    }
   caption {
    font-weight:bold
    }
    th{
        background-color: gainsboro;
    }

    